In [1]:
from sympy import ntt, intt

In [2]:
k = 64
x = [0] * k
for i in range (k):
    x[i] = i

print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63]

In [3]:
(3*2**6)*(2**6)+1

12289

In [6]:
(3*2**6)

192

# w for 64

In [7]:
w = pow(11,192,12289)
print (w)

7311

In [8]:
pow(7311,32,12289)

12288

In [10]:
pow(7311, 16, 12289)

1479

# w_inv for 16

In [8]:
for i in range (99999):
    if ((w*i)%12289 == 1):
        print(i)

10984
23273
35562
47851
60140
72429
84718
97007

# N_inv for 64

In [11]:
N = 64
for i in range (99999):
    if ((N*i)%12289 == 1):
        print(i)

12097
24386
36675
48964
61253
73542
85831
98120

# NTT

In [12]:
a = ntt(x, prime=3*2**12 + 1)
for i in range(k):
    print(a[i])

2016
8799
7102
11283
11397
93
8161
4496
3367
11499
477
8703
11745
11656
582
7455
1796
2036
3609
5511
12259
7693
473
4217
12000
3268
9185
11364
4599
7186
8822
6820
12257
5405
3403
5039
7626
861
3040
8957
225
8008
11752
4532
12255
6714
8616
10189
10429
4770
11643
569
480
3522
11748
726
8858
7729
4064
12132
828
942
5123
3426

# INTT

In [13]:
b = intt(a, prime=3*2**12 + 1)
for i in range(k):
    print(b[i])

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63