In [1]:
from sympy import ntt, intt

In [12]:
k = 16
x = [0] * k
for i in range (k):
    x[i] = i

print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [3]:
(3*2**8)*(2**4)+1

12289

In [4]:
(3*2**8)

768

# w for 16

In [5]:
w = pow(11,768,12289)
print (w)

4134

In [6]:
pow(4134,8,12289)

12288

In [7]:
pow(4134, 4, 12289)

1479

# w_inv for 16

In [8]:
for i in range (99999):
    if ((w*i)%12289 == 1):
        print(i)

10984
23273
35562
47851
60140
72429
84718
97007

# N_inv for 16

In [9]:
N = 16
for i in range (99999):
    if ((N*i)%12289 == 1):
        print(i)

11521
23810
36099
48388
60677
72966
85255
97544

# NTT

In [10]:
a = ntt(x, prime=3*2**12 + 1)
for i in range(k):
    print(a[i])

120
12066
3914
12153
449
6137
3000
4222
12281
8051
9273
6136
11824
120
8359
207

# INTT

In [11]:
b = intt(a, prime=3*2**12 + 1)
for i in range(k):
    print(b[i])

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
x = 0
for i in range (1024):
    x = x+i
print (x % 12289)